services:
  web:
    build: .
    container_name: landing_page_service
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app

    command: >
      uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload